{% extends 'base.html' %} {% block content %}
<p class="aboutme">Mi nombre es Damian Almada, tengo 22 años. Actualmente estoy estudiando la carrera de Ingenieria Informática cursando el 4to año. Soy un joven
  apasionado de la tecnologia, buscando automatizar las tareas manuales que se encuentra en el dia a dia. Al dia de hoy manejo lenguajes como JavaScript,
  C#, Python (Comenzando con proyectos como esto). Tengo +2 años de experiencia como Backend Dev con .Net Core realizando mantenimiento de codigo,
  desarrollos de automatizaciones (selenium), desarrollos web Back con .Net y Front con Angular 7.
</p>
<style>
  .aboutme{
    width: 60%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 40px;
  }
</style>
{% endblock %}