{% extends 'base.html' %} {% block content %}

<h1>Grupos de presupuestos creados</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        <a href="{% url 'delete_groups' group.id %}">Eliminar</a>
        <a href="/">Cancelar</a>
        {% endfor %}
    </ul>    
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Grupo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Presupuesto</th>
            <th scope="col">Created</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr>
            <td>{{group.id}}</td>
            <td>{{group.Title_groups}}</td>
            <td>{{group.description}}</td>
            <td>{{group.budget}}</td>
            <td>{{group.created|date:'d/M/y h:m:s'}}</td>
            <td><a href="{% url 'payouts' group.id %}">Agregar gastos</a></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><a href="{% url 'delete_groups' group.id %}">Eliminar</a></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><a href="{% url 'create_groups' group.id %}">Editar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<style>
    td a{
        color: black;
        text-decoration: none;
        padding: 5px 4px;
        border: black 1px solid;
        min-width: 100px;
    }
</style>
{% endblock %}