{% extends 'base.html' %} {% block content %}
<img class="bg"
  src="https://img.freepik.com/foto-gratis/arreglo-elementos-financieros-calculadora-bloc-notas-vacio_23-2148749474.jpg?w=1060&t=st=1674098292~exp=1674098892~hmac=9e56d6aa429a06a12079046aec5ed75a6a0585f43218d59c1d42d71bc6cb0c4d"
  alt="">
<div class="index">
  {%if request.user.is_superuser%}
  <div class="text-center">
   {{text}}
  </div>
  {%endif%}
  {% if request.user.is_authenticated %}
  <h1>Hola {{request.user.first_name}}</h1>
  <h2>Tel: {{request.user.profile.phone}}</h2>
  {% endif %}
  <p>Esta app web te ayudará a llevar tus cuentas, ya sea guardando los ingresos, guardando los gastos
    tambien ayudandote a decifrar la situacion del presupuesto creado y tambien te dara
    recomendaciones financieras que se ajusten a tus cuentas
  </p>
  <div class="btnn">
    <a href="/groups" class="nav-link">Presupuestos</a>
    <a href="/create_groups/999" class="nav-link">Crear Presupuesto</a>
  </div>
</div>
<style>
  .bg {
    overflow: hidden;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
  }

  div {
    background: rgba(10, 10, 10, .5);
    color: white;
    width: 80%;
    margin: auto;
  }

  .index {
    text-align: center;
    margin-top: 40px;
  }

  p {
    text-align: center;
  }

  .btnn {
    width: 80%;
    margin-left: 10%;
    background: none;
  }

  .btnn a {
    color: white;
    text-decoration: none;
    padding: 5px 4px;
    border: none;
    min-width: 100px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    background: black;
  }
</style>
{% endblock %}